/* Add a black background color to the top navigation */
.Navigation-Bar {
  background-color: #333;
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
}

.Navigation-Bar > img {
  width: 100px;
  height: 55px;
}

.container {
  width: 85%;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
}

.left-inner-container > div{
  width: 40%;
  /*
  height: 200px;
  background: red;*/
  float: left;
}

.right-inner-container > div {
  margin-left: 60%;
  /*
  height: 200px;
  background: yellowgreen;*/
}

.thumbnail-wrapper {
  display: flex;
}

.blackButton{
  background-color: black;
  color: white;
}

.whiteButton{
  background-color: white;
  color: black;
}